header {
  background: linear-gradient(180deg, #102347 10%, #000000 100%);
  border-bottom: 5px solid #102347;
}

.dsmeta-header-container {
  display: flex;
  align-items: center;
  padding: 15px ;
  display: block;
  text-align: center;
}

.dsmeta-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.dsmeta-logo-container img {
  width: 100px;
}

.dsmeta-logo-container h1 {
  margin-left: 15px;
  font-size: 30px;
}

.dsmeta-header-tittle {
  font-size: 20px;
}

@media (min-width: 576px) {
  .dsmeta-header-tittle {
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  header {
    display: flex;
    justify-content: center;
  }

  .dsmeta-header-container {
    width: 100%;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    padding: 20px 5px;
  }

  .dsmeta-logo-container {
    margin-bottom: 0;
  }
}